html {
  height: 100%;
  //background-color: #465875;
  background-color : #4b555f;
  font-size: 1.6em;
}

/* Navbar Stuff */
ul#navlist {
  list-style: none;
  //display: inline;
  display:flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.8em;
  //float: left;
  //margin: auto;
}

a,
a:hover,
a:active {
  font-family: sans-serif;
  color: #c0c1c6;
  text-decoration: none;
}

#navlist div {
  padding-bottom: 4px;
  border-bottom: 5px solid transparent;
}

#navlist div:hover {
  border-bottom: 5px solid gray;
}

#navlist div.current {
  border-bottom: 5px solid white;
}
/* End Navbar Stuff*/


#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0.8em;
}

#navbar h2 {
  color: white;
  font-family: sans-serif;
}